.footer{
    max-width: 100%;
    font-family: Poppins, sans-serif;
    color: #f0f6fc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px 10px 20px;
    background-color: rgba(0, 0, 0,.5);
    user-select: none;
}
.footer h2{
    height: 35px;
    position: relative;
    top: 10px;
    left: 20px;
    color: #c4cad4;
}
.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 4px 4px 4px 4px;
    overflow-x: scroll;
    max-width: 100%;
    gap: 20px;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

img{

}